<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static',filename='about.css')}}">
</head>
<body>
    <section>
        <div class="header">
            <nav>
                <img src="static/logo.png" alt="">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li class="dropdown">
                        <a href="/languages">LANGUAGES ▼</a>
                        <ul class="dropdown-menu">
                            <li><a href="/german">German</a></li>
                            <li><a href="/spanish">Spanish</a></li>
                            <li><a href="/italian">Italian</a></li>
                            <li><a href="/french">French</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
                {% if 'user_id' in session %}
                <button><a href="/logout">LOGOUT</a></button>
                {% else %}
                <button><a href="/login">LOGIN / SIGN UP</a></button>
                {% endif %}
            </nav>
        </div>
        <div class="about">
            <div class="">
                <h1>About Us – Language Learning Focus</h1>
                <p>Welcome to <span class="about-span">FLUENTO</span> , where language learning meets passion and innovation!</p>
                <br>
                <p>At <span class="about-span">FLUENTO</span> , we believe language is the bridge that connects cultures, fosters understanding, and opens doors to endless opportunities. Our mission is to empower learners of all levels to confidently communicate in the language of their choice, whether for personal growth, professional advancement, or cultural exploration.</p>
                <br>
            </div>
            <div class="">
                <h1>What We Offer</h1>
                <p><span class="about-span">Comprehensive Courses:</span> Tailored lessons that cater to beginners, intermediates, and advanced learners.</p>
                
                <p><span class="about-span">Engaging Tools:</span> Interactive resources like audio lessons, quizzes, and more to make learning enjoyable and effective.</p>
            
                <p><span class="about-span">Flexible Learning:</span> Study at your own pace, anytime, anywhere, through our accessible online platform.</p>
                <br>
                <p>Join us on this exciting journey and unlock the power of language to transform your world.</p>
            </div>
        </div>
    </section>
</body>
</html>