<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <section>
        <div class="header">
            <nav>
                <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" alt=""></a>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li class="dropdown">
                        <a href="/languages">LANGUAGES ▼</a>
                        <ul class="dropdown-menu">
                            <li><a href="/german">German</a></li>
                            <li><a href="/spanish">Spanish</a></li>
                            <li><a href="/italian">Italian</a></li>
                            <li><a href="/french">French</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
                {% if 'user_id' in session %}
                <button><a href="/logout">LOGOUT</a></button>
                {% else %}
                <button><a href="/login">LOGIN / SIGN UP</a></button>
                {% endif %}
            </nav>
        </div>
        <div class="main">
            <div class="main_left">
                <img src="{{ url_for('static', filename='main.png') }}" alt="">
            </div>
            <div class="main_right">
                <h1>Language Learning</h1>
                <p>Unlock the power of communication by learning new languages in an interactive and enjoyable way. Whether you're a beginner or looking to refine your skills, our platform offers personalized courses and dynamic resources to fit your unique learning journey and goals.</p>
                {% if 'user_id' in session %}
                <p><span style="color: rgba(0, 128, 0, 0.445);">Welcome back, {{ session['username']|capitalize }}!</span><button><a href="/languages">Start Learning</a></button>.</p>
                {% else %}
                <button><a href="/about">Learn more</a></button>
                {% endif %}
            </div>
        </div>
    </section>
    
</body>
</html>
